
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ORC Admin  </title>


    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- Add custom CSS here -->
    <link href="/css/modern-business.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet" />

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Node OCR</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="btnlist" href="/admin/home">Users</a>
                    </li>
                    <li>
                        <a id="btnCreate" href="javsacript:;" class="active">Create user</a>
                    </li>
                    <li>
                        <a id="btnCreate" href="/admin/roles">Roles</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="section" id="root">
            <h4>Create new user</h4>
            <table class="tblCreate">
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" class="form-control" id="txtFirstName" /></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input class="form-control" type="text" id="txtLastName" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input class="form-control" type="text" id="txtEmail" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input class="form-control" type="password" id="txtPassword" /></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input class="form-control" type="text" id="txtPhone" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Create" class="btn btn-primary" id="btnCreateUser" /></td>
                </tr>
            </table>

            <div class="roles">
                <h4>Select Roles</h4>
                <ul>
                    <%for(var i=0;i< user.allRoles.length;i++){%>
                    <li><input type="checkbox" id="<%=user.allRoles[i].id%>" /> <label for="<%=user.allRoles[i].id%>"><%=user.allRoles[i].role%></label></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modern-business.js"></script>
    <script src="/js/admin/createuser.js"></script>

</body>

</html>



